.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  gap: 5px;
}
.card-container .card {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.card:hover {
  transform: scale(0.989);
}
.card .card-img {
  width: 30%;
}
.card-img img {
  width: 100%;
  object-fit: cover;
}
.card-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: rgb(63, 62, 62);
}
.card h2 {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.card p {
  font-weight: 300;
}
.card:nth-child(1) {
  background-color: rgba(255, 30, 0, 0.437);
}
.card:nth-child(2) {
  background-color: rgba(255, 166, 0, 0.437);
}

.card:nth-child(3) {
  background-color: pink;
}

.card:nth-child(4) {
  background-color: rgba(0, 0, 255, 0.434);
}
